name: R-CMD-check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  _R_CHECK_FORCE_SUGGESTS_: "false"

jobs:
  R-CMD-check:
    strategy:
      fail-fast: false
      matrix:
        include:
          - {os: macos-latest}
          - {os: ubuntu-latest}

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Setup
        uses: eddelbuettel/github-actions/r-ci@master

      - name: Dependencies
        run: ./run.sh install_all

      - name: Test
        run: ./run.sh run_tests
